

.wrapper {
    column-count: 1;
    column-gap: 50px;
    padding: 0px;
  }
  
  p {
    line-height: 1.6; 
    font-family: Helvetica;
    text-align: justify;
    margin: 0;
    font-size: 14px;
  }

.kitty {
    float: left;
    width: 250px;
    padding-right: 20px;
}